body{
  background-image: url(/assets/background_jogo.jpg);
  background-size: cover;
}
.container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.l-container{
  border-style: solid;
  border-radius: 10px;
  border-width: 0.5px;
  width: 325px;
  height: 450px;
  background-color: rgba(211, 179, 99, 0.5);
  backdrop-filter: blur(10px);
}
#h11{
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;
}
#h51{
  text-align: center;
}
.favicon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fav{
  height: 35px;
  width: 35px;
  padding-left: 10px;
  padding-right: 15px;
}
.d-container{
  width: 500px;
  height: 450px;
  border-style: solid;
  border: 20px;
  border-radius: 10px;
  background-color: rgba(213, 214, 118, 0.934);
}
#d-inside{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.forms{
  width: 190px;
  height: 30px;
  margin-bottom: 8px;
  border-radius: 8px;
  border-style: inset;
  text-indent: 3px;
  background-color: rgba(189, 209, 226, 0);
}
#senha{
  text-align: center;
}
#eou{
  text-align: center;
}
.btncriarconta{
  background-color: #ab99663a;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  margin-left: 100px;
  margin-bottom: 15px;
  display: flex;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.btnsubmit{
  background-color: #d7926081;
  color: rgb(0, 0, 0);
  border: 1;
  padding: 5px 15px;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 50px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}